* {
    box-sizing: border-box;
}
.border {
    height: 300px;
    width: 750px;
    position: absolute;
    top: 25%;
    left: 25%;
    background-color: black;
    border-radius: 10px;
}
#showDate {
    height: 120px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 60px;
    color: white;
}
.time {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 120px;
    color: white;
}